nav{
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.opacity{
    background-color: black !important;
}
body{
    width: 100%;
    margin:0;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    margin-top: 100px !important;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
}

footer{
    background-color: rgb(30, 36, 36);
    height: 100px;
}
h3{
    color: white;
}
ul{
    li{
     color: white;
    }

}
.colorAmarillo{
    color: yellow;
}
