@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,800;1,400;1,600;1,700&display=swap");
body {
  font-family: 'Mulish', sans-serif;
}

nav {
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Mulish', sans-serif;
}

.coche {
  display: none;
}

.cocheLleno {
  display: block;
}

.opacity {
  background-color: white !important;
  background-image: none;
}

body {
  width: 100%;
  margin: 0;
}

main {
  padding-top: 100px !important;
  height: 100vh;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#titulo {
  color: white;
  width: 400px;
  padding: 12px;
  font-weight: bolder;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Mulish', sans-serif;
}

footer {
  background-color: #1e2424;
  height: 100px;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  margin-top: 100px;
}

h3 {
  color: white;
}

#productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: white;
}

.colorAmarillo {
  color: #e5bb50;
}

.h2 {
  margin-top: 100px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#detalleProducto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.compra {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#sumarCompras {
  background-color: #96d9f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.datosPersonales, .cortinasElegidas {
  width: 200px;
  height: 50vh;
}

.cortinasElegidas {
  width: 400px;
}

#botonComprar, #montoTotal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  #productos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */