nav{
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.opacity{
    background-color: white !important;
    background-image: none;
}
body{
    width: 100%;
    margin:0;

}
main{
    padding-top: 100px !important;
    height: 100vh;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
h1{

    color: white;
    display: flex;
    justify-content: center;
}


footer{
    background-color: rgb(30, 36, 36);
    height: 100px;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;

  
}
h3{
    color: white;
}
#productos{
    display: flex;
    justify-content: space-around;
    background-color: white;
    
}
.colorAmarillo{
    color: yellow;
}

#detalleProducto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

}
.compra{
    margin-top: 20px;
    display: flex;
    justify-content: center;

}
#sumarCompras{
    background-color: #96d9f8;
    display: flex;
    flex-direction: column;
    align-items: center;

} 


 
